<div class="col-lg-4 sidebar-32">
    <h2 class="h2-strong">Hola, {{identity.nickname}}</h2>
</div>

<div id="user-card" class="col-lg-4 panel panel-default pull-left">
    <div class="avatar pull-left">
        <img src="{{url + 'get-image-user/' + identity.image}}"  *ngIf="identity.image"/>
        <img src='assets/user.png'  *ngIf="!identity.image"/>
    </div>
    
    <div class="nickname pull-left">
        <a [routerLink]="['/perfil', identity._id]" class="usernick">
            {{identity.nickname}}
        </a>
        <p class="name-lastname">
            {{identity.name + ' ' + identity.lastname}}
        </p>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="stats" *ngIf='stats'>
        <div class="following-data">
            <a [routerLink]="['/siguiendo',identity._id, 1]">
                <span class="label-stats">
                    Siguiendo
                </span>
                <span class="number-stats">
                    {{stats.following}}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/seguidores',identity._id, 1]">
                <span class="label-stats">
                    Seguidores
                </span>
                <span class="number-stats">
                    {{stats.followed}}
                </span>
            </a>
        </div>
        <div class="following-data">
            <a [routerLink]="['/perfil', identity._id]">
                <span class="label-stats">
                    Publicaciones
                </span>
                <span class="number-stats">
                    {{stats.publications}}
                </span>
            </a>
        </div>
    </div>
</div>

<!-- Publication Form -->
<div  id="new-publication" class='col-lg-4 panel panel-default pull-left"'>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Publicacion enviada!!!
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Publicacion no enviada!!!
    </div>
    
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-lg-10 ">
        <p>
            <label for="text">En que estas pensando?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" maxlength="280" 
            placeholder="Escribe lo que piensas en 280 caracteres" required></textarea>
            <span *ngIf="!text.valid && text.touched">
                Introduce un texto para enviar!!!
            </span>
        </p>

        <p>
            <label for='image'>Subir imagen</label>
            <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
        </p>

        <input type="submit" value="Publicar" class="btn btn-success" [disabled]="!newPubForm.valid" />
    </form>
</div>